matplotlib == 2.2.2
numpy == 1.14.2
celerite == 0.3.0
emcee == 3.0.0.dev0		#Dev version
h5py == 2.8.0rc1		#Dev version	#To avoid warnings from deprecated dtypes
scipy == 1.0.1
astropy == 3.0.1
pyfits == 3.4
tqdm == 4.23.0
corner == 2.0.1